.bg-gray {
    background-color: lightgray;
}

.badge {
    font-weight: unset;
    font-size: 12px;
}

.card-title {
    font-size: 18px;
}
.card {
    margin-bottom: 20px;
}

/* Rating */

/* Rating check */
.checked {
    color: orange;
}

/* Modals style */
.modal-dialog .modal-dialog-centered {
    margin-top: 10px !important;
}

/* BUTTONS */
.btn {
    margin: 5px;
}
